// Specific CSS for your home-page

html {
  scroll-behavior: smooth;
}

.container-1,
.background-shade {
  background-color: #f4f4f4;
}
/*--------------------------------------*/
/* HOW IT WORKS */
/*--------------------------------------*/

.section-steps {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 25px;
  margin-top: 30px;
  margin-left: -125px;
}


.steps-box:last-child {
  padding-left: 10px;
  margin-top: 5px;
}

.app-screen {
  width: 16%;
  margin-right: 150px
}

@media only screen and (max-width: 479px) {
  .app-screen {
  width: 25%;
  margin-right: -35px;
}
.steps-box:first-child {
  padding-right: 40px;
  margin-top: 65px;
  margin-left: -195px;
}


.steps-box:last-child {
  padding-left: 10px;
  margin-top: 15px;
}
.works-step p {
  font-size: 18px;
  line-height: 110%;
}
}

.works-step {
  margin-bottom: 50px;
  margin-top: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #343B48;
  border: 2px solid #343B48;
  display: inline-block;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  text-align: center;
  padding: 8px;
  float: left;
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}

.works-step p {
  font-size: 18px;
  line-height: 140%;
}

.section-steps h2 {
  font-size: 32px;
  font-weight: 500;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: black;
  margin-top: 40px;
}

.section-steps h2:after {
  display: block;
  height: 2px;
  background-color: black;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


/*--------------------------------------*/
/* ABOUT US SECTION */
/*--------------------------------------*/

.statement-header {
  margin-top: 40px;
  word-spacing: 2px;
  text-align: left;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: black;
  margin-bottom: -10px;
  }

.statement-header h2 {
  font-size: 32px;
  font-weight: 500;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: black;
  margin-top: 40px;
}

.statement-header h2:after {
  display: block;
  height: 2px;
  background-color: black;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 64rem) {
    width: 33.3333%;

  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--store {
  background-image: url(https://images.unsplash.com/photo-1569095723914-2f8d7d3de475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);
}

.card__image--consumer {
  background-image: url(https://images.unsplash.com/photo-1565206595640-6cfd90e0ae09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
}

.card__image--environment {
  background-image: url(https://images.unsplash.com/photo-1578559694397-6592ae4b6dcf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
}

.card__title {
  color: #696969;;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card__text {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 5px;
}
 .row {
  width: 100%;
 }
