.show-header {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  // display: flex;
  // justify-content: space-around;
}

.show-owner-header {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.show-items-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px;
  grid-gap: 20px;
  padding: 10px;
}

.items-header {
  font-size: 20px;
  padding: 5px;
  margin: 15px;
}

.edit-box {

}

// Media Queries for grids
@media(max-width: 1200px) {
  .show-items-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .show-header {
    width: 35vw;
    height: 500px;
  }
}


@media(max-width: 992px) {
  .show-items-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .show-header {
    height: auto;
    width: 100%;
    margin: 0;
  }
}

@media(max-width: 766px) {
  .show-items-grid {
    grid-template-columns: 1fr 1fr;
  }

  .show-header {
    width: 100%;
    margin: 0;
    height: auto;
  }
}

@media(max-width: 576px) {
  .show-items-grid {
    grid-template-columns: 1fr;
  }

  .show-header {
    margin-top: 0;
    height: auto;
    width: 100%;
  }
}
