.container {
  font-family: Lora;
}

.container h2 {
  text-align: center;
}

.store-name {
  color: #343B48;
  text-decoration: none;
  font-weight: 500;
}

.store-name:active,
.store-name:hover
{
  text-decoration: none;
  font-weight: bold;
  color: #424B5A;
}

.store-address {
  font-style: italic;
  font-weight: 400;
}

.store-items {
  font-family: Lora;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 280px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.store-body {
  font-family: Lora;
  background-color: #f8f8ff;
  width: 350px;
  height: 100px;
  flex-shrink: 0;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  width: 250px;
  border-radius: 0 0 10px 10px ;
}
.card-image {
  height: 100px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
}

.card-item {
  font-family: Lora;
  height: 250px;
  width: 250px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.card-item:hover {
  opacity: .7;
}

.card-product {
  font-family: Lora;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.item-name {
  font-family: Lora;
  font-size: 1.2rem;
  font-weight: bold;
  color: #353b48;
}

#new-price {
  color: #FB5159;
}
