<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="logo">
  <a class="navbar-brand" href="#">
    <i id="brand-color" class="fas fa-ticket-alt"></i>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse main_list" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="" href="#">Home</a>
      </li>
      <li class="nav-item ">
        <a class="" href="#">Orders</a>
      </li>
      <li class="nav-item ">
        <a class="" href="#">My Account</a>
      </li>
      <li class="nav-item">
        <a id="brand-color" href="#">Total savings £#</a>
      </li>
      <li class="nav-item active">
        <a href="#"><i id="brand-color" class="fas fa-globe-americas" style="font-size: 20px"></i></a>
      </li>
    </ul>
  </div>
</div>
