<div class="edit-box">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStoreModal">
    Edit this store
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">
    Add a New Item
  </button>
</div>
