<div class="store-info-container">
  <div class="empty-image">Image Place Holder</div>
  <div class="store-info">
    <h1> <%= @store.name %></h1>
    <h3> <%= @store.address %> </h3>
    <p> <%= @store.description %></p>
    <p> owner: <%= @store.user.email %></p>
  </div>
</div>







