<br>
<br>

<!-- <div class="container mt-5">
  <div id="order-status" class="order-status-container text-center">
    <h2 id="checkout" class="pulsate"><i class="far fa-clock"></i><%#=@store.name%> will confirm your order... </h2>
    <div class="pending_dots">
      <i class="fas fa-circle waiting-circle"></i>
      <i class="fas fa-circle waiting-circle not_active"></i>
      <i class="fas fa-circle waiting-circle not_active"></i>
    </div>
    <h2 id="accepted"><i class="far fa-check-circle"></i><%#=@store.name%> has confirmed your order... </h2>
    <div class="pending_dots hidden">
      <i class="fas fa-circle waiting-circle"></i>
      <i class="fas fa-circle waiting-circle not_active"></i>
      <i class="fas fa-circle waiting-circle not_active"></i>
    </div>
    <h2 id="collected"><i class="fas fa-walking"></i>Your order has been marked as collected! </h2>
    <%#= link_to "Return to My Feed", stores_path, id: "return", class: "return" %>
  </div>
</div> -->

<div class="test_scroll">
  <section id="display">
    <div id="container">
      <div class="mt-4 confirmation_item active"><i class="far fa-clock"></i><%=@store.name%> will confirm your order... </div>
      <div class="mt-4 confirmation_item"><i class="far fa-check-circle"></i><%=@store.name%> has confirmed your order... </div>
      <div class="mt-4 confirmation_item"><i class="fas fa-walking"></i>Your order has been marked as collected! </div>
    </div>
  </section>
</div>

<div class="p-3" style="background-color: #353B48"></div>

<!-- <div class="container">
  <div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="col mt-5">
    <%#= RQRCode::QRCode.new(root_path).as_svg(
      offset: 0,
      color: '000',
      shape_rendering: 'crispEdges',
      module_size: 6,
      standalone: true
    ).html_safe %>
  </div>
</div> -->
<!-- <div id="button_scroll" class="m-4 btn btn-primary">Click Me</div>

<div class="test_resize">
  <p id="resize_test" class="off">This is some test text</p>
</div> -->


