<header>
  <div class="hero-text-box">
    <h1>Yellow Ticket</h1>
    <br>
      <h2>Share More. <br>Waste Less.</h2>
      <a class="btn btn-full js--scroll-to-plans" href="#">Get Started</a>
      <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
  </div>
</header>

<div>
  <h3>Our Mission Statement</h3>
  <ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--store"></div>
      <div class="card__content">
        <div class="card__title">Supporting Local Food Stores</div>
        <p class="card__text">Local stores and cafe's have very little means to advertise reduced or expiring stock with a lot going to waste. Listing this stock will help reduce sunk costs and improve cash flow. his can also attract new customers who are interested in their goods. </p>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--consumer"></div>
      <div class="card__content">
        <div class="card__title">For The Conscious Consumer</div>
        <p class="card__text">This will help enable people in the area to reserve items, collect and eat sustainably on a much lower budget. Users can creat e a list of favourite products and be alerted when stores nearby are listing.</p>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--environment"></div>
      <div class="card__content">
        <div class="card__title">Environmentally Friendly</div>
        <p class="card__text">This will help enable people in the area to reserve items, collect and eat sustainably on a much lower budget. Users can creat e a list of favourite products and be alerted when stores nearby are listing.</p>
      </div>
    </div>
  </li>
</ul>
</div>

<div class="section-steps" id="works">
  <div class="row">
    <h2>How it works &mdash; Simple as 1, 2, 3</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-2 steps-box">
      <%= image_tag("app-iphone.png", class: "app-screen") %>

    </div>
    <div class="col span-1-of-2 steps-box">
      <div class="works-step">
        <div>1</div>
        <p>Choose the subscription plan that best fits your needs and sign up today.</p>
      </div>
      <div class="works-step">
        <div>2</div>
        <p>Order your delicious meal using our mobile app or website. Or you can even call us!</p>
      </div>
      <div class="works-step">
        <div>3</div>
        <p>Enjoy your meal after less than 20 minutes. See you the next time!</p>
      </div>

      <a href="#" class="btn-app"><img src="resources/img/download-app.svg" alt="App Store Button"></a>
      <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="Play Store Button"></a>
    </div>
  </div>
</div>
