<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<header>
  <div class="hero-text-box">
      <h1>Share More. <br>Waste Less.</h1>
      <a class="btn btn-full js--scroll-to-plans" href="#">Get Started</a>
      <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
  </div>
</header>

