.basket-container {
  width: 300px;
  background-color: white;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  border-radius: 10px;
  margin: 15px;
  font-size: 16px;
  position: fixed;
  top: 120px;
  right: 11%;
  z-index: 1;

  .basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .basket-content {
    padding: 0 20px;
  }

  .basket-item {
    display: flex;
    justify-content: space-between;
  }

  .old-price {
    text-decoration: line-through;
  }

  .basket-total {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .basket-checkout {
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #353C48;
    color: #FECD18;
    font-weight: bold;
  }

  .basket-no-items {
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-item: center;
  }

  .basket-footer {
    width: 100%;
  }

  .count {
    display: none;
  }

  .price-sm {
    display: none;
  }
}

.basket-container-scrolled {
  width: 300px;
  background-color: #353C48;
  color: #FECD18;
  border-radius: 10px;
  font-size: 16px;
  margin: 15px;
  position: fixed;
  top: 120px;
  right: 11%;
  z-index: 1;

  .basket-header {
    display: none;
  }

  .basket-content {
    display: none;
  }

  .total {
    display: none;
  }

  .old-price {
    text-decoration: line-through;
  }

  .basket-total {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }

  .basket-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353C48;
    border-radius: 10px;
  }

  .basket-checkout {
    width: 100px;
    border-radius: 0 10px 10px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #353C48;
    color: #FECD18;
    font-weight: bold;
  }

  .basket-no-items {
    margin-top: 10px;
    color: #FECD18;
    font-weight: bold;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .count {
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    background-color: #353C48;
    color: #FECD18;
    padding: 10px 20px;
  }

  .price {
    display: none;
  }
}

@media(max-width: 992px) {
  .basket-container,
  .basket-container-scrolled {
    border-radius: 10px;
    position: relative;
    margin: 0;
    margin-top: 20px;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
  }

}

@media(max-width: 768px) {
  .basket-container,
  .basket-container-scrolled {
    border-radius: 10px;
    position: relative;
    margin: 0;
    margin-top: 20px;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
  }

}

@media(max-width: 576px) {
  .basket-container {
    background-color: #E4E4E4;
  }

  .basket-container-scrolled,
  .basket-container {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;

    .count {
      border-radius: 0;
    }

    .basket-checkout {
      border-radius: 0;
    }
  }

}
