/*--------------------------------------*/
/* BUTTONS*/
/*--------------------------------------*/

.btn-full:link,
.btn-full:visited,
.btn-ghost:link,
.btn-ghost:visited,
{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;
}

.btn-full:link,
.btn-full:visited,
{
  background-color: #353B48;
  border: 1px solid #353B48;
  color: #FECD1A;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #707070;
  background-color: #707070;
  color: #fff;
}

.btn-full:hover,
.btn-full:active,
{
  border: 1px solid #495365;
  background-color: #495365;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #495365;
  color: #FECD1A;
  background-color: #495365;
}


@media only screen and (max-width: 429px) {
  .btn-full:link,
  .btn-full:visited,
  .btn-ghost:link,
  .btn-ghost:visited,
  {
    padding: 8px 22px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    border-radius: 200px;
    transition: 0.2s;
  }
}

.basket-button {
  margin-left: 100px;
}

.add-to-basket-btn {
  padding: 7px 20px;
  background-color: #FECD1A;
  border-radius: 0 0 10px 10px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  font-weight: 500;
  a {
    color: #353B48 ;
    text-decoration: none;
  }
}

.add-to-basket-btn:hover {
  text-decoration: none;
  font-weight: bold;
  color: #353B48;
}

// Add-to-basket-btn media query
@media(max-width: 576px) {
  .add-to-basket-btn {
    height: 100%;
    width: 100px;
    margin: 0;
    border-radius: 0 10px 10px 0;
    position: relative;
    bottom: auto;
  }
}

.btn-app {
  height: 45px;
  width: auto;
  margin-right: 5px;
}

@media only screen and (max-width: 429px) {
  .btn-app {
    height: 30px;
    width: auto;
    margin-right: 5px;
  }
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.add-item-btn,
.edit-btn {
  padding: 6px 10px;
  background-color: #FB5159;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 1px #F2424B;
  font-size: 14px;
  transition: 0.3s;
  margin-bottom: 10px;
  border: #FB5159;
  width: 150px;
  margin-left: 160px;
  position: relative;
}

.add-item-btn:hover,
.add-item-btn:active,
{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.edit-btn:hover,
.edit-btn:active,
{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

@media(max-width: 1240px) {
  .add-item-btn,
  .edit-btn {
    margin-bottom: 10px;
    width: 150px;
    margin-left: 210px;
    position: relative;
    }

}
/*--------------------------------------*/
/* ADD TO BASKET BUTTON ON INDEX/SHOW PAGE*/
/*--------------------------------------*/

.btn-basket {
  padding: 5px 10px;
  margin-left: 0px;
  width: 100%;
  line-height: 25px;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  border-radius: 0  0 5px 5px;
  background-color: #FECD1A;
  color: #353B48;
  transition: 0.3s;
  text-align: center;
}

.btn-basket:hover,
.btn-basket:active {
  text-decoration: none;
  font-weight: bold;
  color: #353B48;
}

.btn-delete {
  padding: 4px 8px;
  background-color: #FB5159;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 1px #F2424B;
  font-size: 14px;
  transition: 0.3s;
}

.btn-delete:hover,
.btn-delete:active,
{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.show-discount {
  margin-bottom: 10px;
}

.delete_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*--------------------------------------*/
/* ACCEPT/REJECT BUTTON ON ORDERS PAGE*/
/*--------------------------------------*/
.btn-accept {
  background-color: #02C39A;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Lora";
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-left: 5px!important;
  margin-right: 5px!important;
  }

  .btn-accept:hover {
    color: #FFFFFF;
    animation: pulsate 1s infinite;
  }

@-webkit-keyframes glowing {
  0% { background-color: #02C39A; -webkit-box-shadow: 0 0 3px #02C39A; }
  50% { background-color: #02C39A; -webkit-box-shadow: 0 0 8px #02C39A; }
  100% { background-color: #02C39A; -webkit-box-shadow: 0 0 3px #02C39A; }
}

@-moz-keyframes glowing {
  0% { background-color: #02C39A; -moz-box-shadow: 0 0 3px #02C39A; }
  50% { background-color: #02C39A; -moz-box-shadow: 0 0 8px #02C39A; }
  100% { background-color: #02C39A; -moz-box-shadow: 0 0 3px #02C39A; }
}

@-o-keyframes glowing {
  0% { background-color: #02C39A; box-shadow: 0 0 3px #02C39A; }
  50% { background-color: #02C39A; box-shadow: 0 0 8px #02C39A; }
  100% { background-color: #02C39A; box-shadow: 0 0 3px #02C39A; }
}

@keyframes glowing {
  0% { background-color: #02C39A; box-shadow: 0 0 3px #02C39A; }
  50% { background-color: #02C39A; box-shadow: 0 0 8px #02C39A; }
  100% { background-color: #02C39A; box-shadow: 0 0 3px #02C39A; }
}

.btn-accept {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.btn-reject {
  background-color: #E22837;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Lora";
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 5px!important;
  margin-right: 5px!important;
}

.btn-reject:hover {
    color: #FFFFFF;
    animation: pulsate 1s infinite;
  }

.edit-item-submit {
  border-radius: 0 0 10px 10px;
  background-color: #353B48;
  color: #FECD1A;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes reject {
  0% { background-color: #E22837; -webkit-box-shadow: 0 0 3px #E22837; }
  50% { background-color: #E22837; -webkit-box-shadow: 0 0 8px #E22837; }
  100% { background-color: #E22837; -webkit-box-shadow: 0 0 3px #E22837; }
}

@-moz-keyframes reject {
  0% { background-color: #E22837; -moz-box-shadow: 0 0 3px #E22837; }
  50% { background-color: #E22837; -moz-box-shadow: 0 0 8px #E22837; }
  100% { background-color: #E22837; -moz-box-shadow: 0 0 3px #E22837; }
}

@-o-keyframes reject {
  0% { background-color: #E22837; box-shadow: 0 0 3px #E22837; }
  50% { background-color: #E22837; box-shadow: 0 0 8px #E22837; }
  100% { background-color: #E22837; box-shadow: 0 0 3px #E22837; }
}

@keyframes reject {
  0% { background-color: #E22837; box-shadow: 0 0 3px #E22837; }
  50% { background-color: #E22837; box-shadow: 0 0 8px #E22837; }
  100% { background-color: #E22837; box-shadow: 0 0 3px #E22837; }
}

.btn-reject {
  -webkit-animation: reject 1500ms infinite;
  -moz-animation: reject 1500ms infinite;
  -o-animation: reject 1500ms infinite;
  animation: reject 1500ms infinite;
}

.btn-form-back {
  color: #FECD1A;
  background-color: #353B48;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px 10px;
  margin-left: 8px;
  box-shadow: 2px 1px #767676;
  transition: 0.3s;

}

.btn-form-back:hover,
.btn-form-back:active
{
  text-decoration: none;
  color: white;
}

.btn-back-1:link,
.btn-back-1:visited,
{
  display: inline-block;
  padding: 6px 18px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.3s;
}

.btn-back-1:link,
.btn-back-1:visited,
{
  background-color: #353B48;
  border: 1px solid #353B48;
  color: #FECD1A;
  margin-right: 15px;
}

.btn-back-1:hover,
.btn-back-1:active,
{
  border: 1px solid #495365;
  background-color: #495365;
}

.active_order_link {
  position: absolute;
  z-index: 0.9;
  top: 60px;
  right: 0px;
  width: auto;
  border-radius: 0;
}

.confirmation-model-btn {
  width: fit-content;
  background-color: #FECD1A;
  border: 1px solid #353B48;
  color: #353B48;
  font-size: 25px;
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 5;
  padding: 8px 13px;;
  border-radius: 50%;
}

.btn-confirmation-feed {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #FECD1A;
  color: #353B48;
  font-weight: bold;
}
