/*--------------------------------------*/
/* BUTTONS*/
/*--------------------------------------*/

.btn-full:link,
.btn-full:visited,
.btn-ghost:link,
.btn-ghost:visited,
{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  border-radius: 200px;
  transition: 0.2s;
}

.btn-full:link,
.btn-full:visited,
{
  background-color: #353B48;
  border: 1px solid #353B48;
  color: #FECD1A;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #353B48;
  color: #fff;
}

.btn-full:hover,
.btn-full:active,
{
  border: 1px solid #495365;
  background-color: #495365;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #495365;
  color: #FECD1A;
  background-color: #495365;
}

.basket-button {
  margin-left: 100px;
}

.add-to-basket-btn {
  padding: 7px 20px;
  background-color: #495365;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    color: white;
    font-weight: bold;
  }
}

// Add-to-basket-btn media query
@media(max-width: 576px) {
  .add-to-basket-btn {
    height: 100%;
    width: 100px;
    margin: 0;
    border-radius: 0 10px 10px 0;
  }
}

.btn-app {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}
