.item-card {
  font-family: Lora;
  font-size: 16px;
  background-color: white;
  position: relative;
  width: 200px;
  border-radius: 10px;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  z-index: 0;

  .empty-image {
    background-color: gray;
    height: 100px;
    border-radius: 10px 10px 0 0;
  }

  .item-img {
    border-radius: 10px 10px 0 0;
    height: 100px;
    background-position: center;
    background-size: cover;
  }

  .item-info {
    padding: 20px;
  }

  .item-card-prices {
    padding: 10px;
    line-height: 40px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

#free-image {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1000;
  top: 3px;
  right: 21px;
}

// Media Queries for Item Cards for Show page
@media(max-width: 992px) {
}

@media(max-width: 768px) {
}

@media(max-width: 576px) {
  .item-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    .item-card-prices {
      margin-bottom: 0px;
    }
  }

  .empty-image {
    display: none;
  }

  .item-img {
    display: none;
  }

  .item-info {
    padding: 0;
  }

}
