.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: #353B48;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 429px) {
  .footer {
  height: 40px;
  font-size: 10px;
  padding: 0px 20px;
}
}
.footer-links {
  display: flex;
  align-items: center;
}

#footer-img {
  height: 40px;
  width: 40px;
  margin-right: 7px;
  opacity: 0.6;
}

.footer-links a {
  color: #353B48;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.4s;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: rgb(254, 205, 26);
}

.footer-copyright {
  font-size: 14px;
}
