.form-container {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 80px;
}

.btn-login-form {
  color: #FECD1A;
  background-color: #353B48;
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn-login-form:hover,
.btn-login-form:active, {
  color: #FFFFFF;
}
