// /* Navbar section */

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.2s;
    margin-top: 8px;
}

.nav-link:hover,
.nav-link:hover
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 4px;
    transition: 0.2s;
}

#brand-color
{
  color: #FECD1A;
}

.navbar-lewagon {
  position: fixed;
  justify-content: space-between;
  background: #353B48;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 60px;
}
