@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: black;
    justify-content: space-between;
}

.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.logo a {
    text-decoration: none;
    color: #FECD1A;
    font-size: 2.5rem;
}

.main_list {
    height: 65px;
    float: right;
}

.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 1.5rem;
}

.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 20px;
    padding: 8px;
    transition: 0.2s;
}

.main_list ul li a:hover{
  border-bottom: 3px solid #FECD1A;
}

#brand-color
{
  color: #FECD1A;
}

.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .collapse {
//    background: black;
//    height: 316px;
// }

@media only screen and (max-width: 575px) {
  .collapse {
   background: black;
   height: 320px;
}
}








