// /* Navbar section */
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.2s;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link:hover
{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #FECD1A;
    transition: 0.1s;
}


#brand-color
{
  color: #FECD1A;
}

.progress-green {
  background-color: #1EDD88!important;
}

#green {
  color: #1EDD88;
}

#grey {
  color: #a09b9b;
}

.navbar-lewagon {
  position: fixed;
  justify-content: space-between;
  background: #353B48;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  height: 60px;
}


.dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
  color: #353B48!important;
  text-decoration: none;
  background-color: white !important;
 }

 .width {
  width: 425px;
 }

 .progress {
  margin-left: auto; margin-right:auto;
  }

// .navbar-lewagon {
//   justify-content: space-between!important;
//   background: #353B48;
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 55px;
//   z-index: 100;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


// #brand-color {
//   margin-top: 21px;
// }

// .dropdown-menu{
//   height: 300px;
// }

// @media only screen and (max-width: 575px) {
//   .collapse {
//    background-color: #353B48;
//    height: 320px;
// }
// }

// #header-img {
//   height: 40px;
//   width: 40px;
//   margin-left: 15px;
// }

// .dropdown-menu {
//   height: 360px;
// }

