.store-info-container {
  max-width: 700px;
  background-color: white;
  border-radius: 10px;
  // padding: 20px;
  margin: 15px;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  font-size: 16px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;

  .empty-image {
    min-height: 100%;
    min-width: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 10px 0 0 10px;
  }

  .store-info {
    padding: 20px;
  }

  h3 {
    font-size: 20px;
  }
}

// Media Queries for grids
@media(max-width: 992px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .store-info-container {
    width: 100%;
    margin: 0;

    .empty-image {
      display: none;
    }
  }
}

@media(max-width: 768px) {

}

@media(max-width: 576px) {

}
