.store-info-container {
  width: 860px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  font-size: 16px;
  display: flex;
  overflow: hidden;

  .empty-image {
    width: 350px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 10px 0 0 10px;
  }

  .store-image {
    width: 350px;
    min-height: 100%;
    background-position: 35% 35%;
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }

  .store-info {
    padding: 20px;
    min-width: 400px;
  }


  h3 {
    font-size: 20px;
  }
}

.store-info-container-1 {
  width: 860px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  font-size: 16px;
  display: flex;
  overflow: hidden;

  .empty-image-1 {
    width: 350px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 10px 0 0 10px;
  }

  .store-image-1 {
    width: 350px;
    min-height: 100%;
    background-position: 35% 35%;
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }

  .store-info-1 {
    padding: 20px;
    min-width: 400px;
  }


  h3 {
    font-size: 20px;
  }
}

@media(max-width: 1240px) {
  .add-item-btn,
  .edit-btn {
    margin-bottom: 10px;
    width: 150px;
    margin-left: 210px;
    position: relative;
    }

    .store-info-container {
  width: 665px;
  }
    .store-info-container-1 {
  width: 860px;
  }
}

@media(max-width: 2000px) {
  .store-info-container {
    width: 765px;

    .store-image {
      width: 300px;
    }
  }

  .store-info-container-1 {
    .store-image {
      width: 320px;
    }
  }
}



.store-info p {
  // overflow: scroll;
  overflow: hidden;
   display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-width: 400px;
}


.store-info-1 p {
  // overflow: scroll;
  overflow: hidden;
   display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-width: 400px;
}

// Media Queries for grids
@media(max-width: 1200px) {
  .store-info-container {
    width: 45vw;
    display: block;
    .empty-image {
      width: 45vw;
      height: 200px;
      border-radius: 10px 10px 0 0;
    }

    .store-image {
      width: 45vw;
      min-height: 200px;
      background-origin: center;
      border-radius: 10px 10px 0 0;
    }
  }
}


@media(max-width: 992px) {
  .store-info-container {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 135px;

    .empty-image {
      display: none;
    }

    .store-image {
      width: 100%;
    }
  }
}

@media(max-width: 768px) {
  .store-info-container {
    width: 100%;
    margin-left: 0;
  }

}

@media(max-width: 576px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .store-info-container {
    margin-top: 65px;
    border-radius: 0;
  }
}


