.store-info-container {
  width: 50vw;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 15px 15px 10px rgb(227, 227, 227);
  font-size: 16px;
  display: flex;

  .empty-image {
    min-height: 100%;
    width: 50vw;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 10px 0 0 10px;
  }

  .store-info {
    padding: 20px;
    min-width: 35vw;
  }

  h3 {
    font-size: 20px;
  }
}



// Media Queries for grids
@media(max-width: 1200px) {
  .store-info-container {
    width: 45vw;
    display: block;
    .empty-image {
      width: 45vw;
      height: 200px;
      border-radius: 10px 10px 0 0;
    }
  }
}


@media(max-width: 992px) {
  .store-info-container {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 135px;

    .empty-image {
      display: none;
    }
  }
}

@media(max-width: 768px) {
  .store-info-container {
    width: 100%;
    margin-left: 0;
  }

}

@media(max-width: 576px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .store-info-container {
    margin-top: 65px;
    border-radius: 0;
  }
}
